In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Military Expenditure.csv", index_col=1)
df.head()

,Name,Type,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Code,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,Afghanistan,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
AGO,Angola,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
ALB,Albania,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
AND,Andorra,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,7.900000e+01,8.400000e+01,9.300000e+01,9.800000e+01,9.800000e+01,1.040000e+02,1.040000e+02,1.050000e+02,1.130000e+02,1.130000e+02,...,1.970000e+02,1.960000e+02,1.940000e+02,1.990000e+02,2.020000e+02,2.030000e+02,1.980000e+02,1.970000e+02,1.950000e+02,1.960000e+02
mean,4.482374e+09,4.450649e+09,4.520297e+09,4.462435e+09,4.525730e+09,4.429380e+09,5.098436e+09,5.757744e+09,5.661456e+09,5.866198e+09,...,5.919239e+10,6.289206e+10,6.823127e+10,6.767465e+10,6.782427e+10,6.788223e+10,6.553286e+10,6.562135e+10,6.927640e+10,7.216267e+10
std,1.447959e+10,1.486998e+10,1.560037e+10,1.551553e+10,1.552208e+10,1.544076e+10,1.817987e+10,2.092876e+10,2.133673e+10,2.175941e+10,...,1.976434e+11,2.067953e+11,2.188292e+11,2.152426e+11,2.112636e+11,2.095356e+11,2.002215e+11,2.008000e+11,2.091964e+11,2.202652e+11
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.205030e+07,2.571702e+07,2.484204e+07,2.866130e+07,3.662134e+07,3.396381e+07,3.803623e+07,3.554479e+07,2.040000e+07,2.286154e+07,...,2.148242e+08,2.195343e+08,2.592131e+08,2.309348e+08,2.510677e+08,2.491632e+08,2.488889e+08,2.607297e+08,2.851254e+08,2.945764e+08
50%,1.408889e+08,1.200573e+08,1.700342e+08,1.824402e+08,1.891038e+08,2.048374e+08,2.388078e+08,2.519307e+08,2.727273e+08,2.636364e+08,...,2.115785e+09,2.136473e+09,2.484600e+09,2.589776e+09,2.435637e+09,2.355992e+09,2.415996e+09,2.455784e+09,2.328157e+09,2.406164e+09
75%,8.240486e+08,7.590874e+08,8.332295e+08,8.987564e+08,1.144744e+09,8.919075e+08,1.009040e+09,1.123833e+09,1.119925e+09,1.380000e+09,...,1.783128e+10,1.682419e+10,1.823214e+10,1.875641e+10,1.937015e+10,2.031822e+10,1.927764e+10,1.785398e+10,2.147698e+10,1.832208e+10
max,6.777699e+10,7.161496e+10,7.889139e+10,8.097281e+10,8.148150e+10,8.364532e+10,9.752720e+10,1.120000e+11,1.180000e+11,1.210000e+11,...,1.550000e+12,1.630000e+12,1.730000e+12,1.740000e+12,1.740000e+12,1.740000e+12,1.640000e+12,1.630000e+12,1.700000e+12,1.780000e+12

In [4]:
df['Type'].value_counts(sort=True)

Country                           202
Regions Clubbed Economically       33
Semi Autonomous Region             18
Regions Clubbed Geographically     11
Name: Type, dtype: int64

In [5]:
df.sort_values(['1960', '1961']).head()

,Name,Type,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Code,,,,,,,,,,,,,,,,,,,,,
CRI,Costa Rica,Country,Military expenditure (current USD),0.000,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
ISL,Iceland,Country,Military expenditure (current USD),0.000,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
BFA,Burkina Faso,Country,Military expenditure (current USD),1268378.230,1643154.204,4901760.716,5281287.753,5358593.135,3.509330e+06,3.907554e+06,...,1.273333e+08,1.237005e+08,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08
BEN,Benin,Country,Military expenditure (current USD),1301005.322,2173203.947,2734537.618,2963071.799,3803662.454,3.994924e+06,3.724387e+06,...,NaN,NaN,NaN,7.822309e+07,8.600316e+07,9.299071e+07,9.089609e+07,7.958157e+07,1.161428e+08,9.021243e+07
MDG,Madagascar,Country,Military expenditure (current USD),1604193.589,8482781.250,9179552.203,8956747.538,9455019.789,1.071083e+07,1.134278e+07,...,7.098522e+07,5.692289e+07,7.198981e+07,6.863602e+07,7.187787e+07,6.967670e+07,5.893285e+07,5.939500e+07,6.690609e+07,7.325843e+07

In [6]:
df_countries = df[df['Type']=='Country']
df_countries[df_countries['1960']!=0].sort_values('1960', ascending=False).head()

,Name,Type,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Code,,,,,,,,,,,,,,,,,,,,,
USA,United States,Country,Military expenditure (current USD),4.538000e+10,4.780800e+10,5.238100e+10,5.229500e+10,5.121300e+10,5.182700e+10,6.357200e+10,...,6.690000e+11,6.980000e+11,7.110000e+11,6.850000e+11,6.400000e+11,6.100000e+11,5.960000e+11,6.000000e+11,6.060000e+11,6.490000e+11
GBR,United Kingdom,Country,Military expenditure (current USD),4.587798e+09,4.747398e+09,5.005698e+09,5.196798e+09,5.508998e+09,5.791098e+09,5.984998e+09,...,5.791463e+10,5.808285e+10,6.027044e+10,5.849566e+10,5.686176e+10,5.918286e+10,5.386219e+10,4.811894e+10,4.643330e+10,4.999719e+10
FRA,France,Country,Military expenditure (current USD),3.881220e+09,4.131004e+09,4.493324e+09,4.628061e+09,4.917957e+09,5.124507e+09,5.414602e+09,...,6.688403e+10,6.178175e+10,6.460093e+10,6.003515e+10,6.241710e+10,6.361357e+10,5.534213e+10,5.735841e+10,6.041750e+10,6.379968e+10
POL,Poland,Country,Military expenditure (current USD),3.550000e+09,4.025000e+09,4.375000e+09,4.950000e+09,5.200000e+09,5.525000e+09,5.975000e+09,...,7.903812e+09,8.790170e+09,9.455423e+09,8.986839e+09,9.275712e+09,1.034515e+10,1.021279e+10,9.164191e+09,9.870681e+09,1.159616e+10
DEU,Germany,Country,Military expenditure (current USD),2.884518e+09,3.266496e+09,4.308248e+09,4.981004e+09,4.888249e+09,4.978559e+09,5.063638e+09,...,4.747007e+10,4.625552e+10,4.814035e+10,4.647087e+10,4.593054e+10,4.610267e+10,3.981258e+10,4.157949e+10,4.538172e+10,4.947063e+10

In [7]:
df_countries[df_countries['1960']!=0].sort_values('2018', ascending=False).head()

,Name,Type,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Code,,,,,,,,,,,,,,,,,,,,,
USA,United States,Country,Military expenditure (current USD),4.538000e+10,4.780800e+10,5.238100e+10,5.229500e+10,5.121300e+10,5.182700e+10,6.357200e+10,...,6.690000e+11,6.980000e+11,7.110000e+11,6.850000e+11,6.400000e+11,6.100000e+11,5.960000e+11,6.000000e+11,6.060000e+11,6.490000e+11
CHN,China,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.060000e+11,1.160000e+11,1.380000e+11,1.570000e+11,1.800000e+11,2.010000e+11,2.140000e+11,2.160000e+11,2.280000e+11,2.500000e+11
SAU,Saudi Arabia,Country,Military expenditure (current USD),1.408889e+08,7.155556e+07,8.422222e+07,1.137778e+08,1.235556e+08,1.777778e+08,3.004444e+08,...,4.126720e+10,4.524453e+10,4.853093e+10,5.649787e+10,6.702000e+10,8.076240e+10,8.718587e+10,6.367280e+10,7.040000e+10,6.755467e+10
IND,India,Country,Military expenditure (current USD),6.817657e+08,7.483882e+08,1.065436e+09,1.795449e+09,1.986654e+09,2.125990e+09,1.661155e+09,...,3.872215e+10,4.609045e+10,4.963382e+10,4.721692e+10,4.740353e+10,5.091411e+10,5.129548e+10,5.663762e+10,6.455944e+10,6.651029e+10
FRA,France,Country,Military expenditure (current USD),3.881220e+09,4.131004e+09,4.493324e+09,4.628061e+09,4.917957e+09,5.124507e+09,5.414602e+09,...,6.688403e+10,6.178175e+10,6.460093e+10,6.003515e+10,6.241710e+10,6.361357e+10,5.534213e+10,5.735841e+10,6.041750e+10,6.379968e+10

In [8]:
df["difference_2018_1960"] = df['2018']-df['1960']
df[["Name", "difference_2018_1960"]].head()

             Name  difference_2018_1960
Code
ABW         Aruba                   NaN
AFG   Afghanistan                   NaN
AGO        Angola                   NaN
ALB       Albania                   NaN
AND       Andorra                   NaN